name: Publish release

on:
  workflow_dispatch:

jobs:
    call_workflow:
        name: Run Release Workflow
        if: ${{ github.repository_owner == 'ballerina-platform' }}
        uses: ballerina-platform/ballerina-library/.github/workflows/release-package-template.yml@main
        secrets: inherit
        with:
          package-name: wsdltool
          package-org: ballerina
